.container{
    display: flex;
    flex-direction: column;
    justify-self: center;
    padding-top: 20%;
    
}

.row{
    display: flex;
    
}
.sketch{
    height: 50px;
    width: 50px;

}
.row0,.row1,.row2,.row3{
    
}
.row4,.row5,.row6,.row7{
    
}
.row8,.row9,.row10,.row11{
    
}
.row12,.row13,.row14,.row15{
    
}
