body{
    color: #EEEEEE;
}


.container{
    background-color: #D8C9A7;
    display: flex;
    flex-direction: column;
    justify-self: center;
    

    border-color: green;
    border-style: solid;
    max-width: 1250px;
    max-height: 1250px;

    min-width: 960px;
    min-height: 960px;
}

.row{
    display: flex;
    flex-grow: 1;

    
    
    
    
}
.sketch{
    display: flex;
    justify-items: center;
    flex-grow: 1;

    /* Align text
    */
    align-items: center;
    padding: 2%;

    color: #DE802B;
    

}
.row0,.row1,.row2,.row3{
    
}
.row4,.row5,.row6,.row7{
    
}
.row8,.row9,.row10,.row11{
    
}
.row12,.row13,.row14,.row15{
    
}
