body{
    color: #EEEEEE;
}

/*Header Bar  */
.bar{
    display: flex;
}
.Header{
    display: flex;
    font-size: 16px;
  
}
.Editor{
    display: flex;
    margin-left: auto;
    font-size: 16px;

    color: #EEEEEE;
    background-color: #5C6F2B;

}
/* Reset Button and title*/
.reset{ 
    color: black;
    background-color: #DE802B;

}

.title{
    color: #5C6F2B;
    text-align: center;
    font-size: 50px;
}




/* Game CSS*/

.container{
    background-color: #D8C9A7;
    display: flex;
    flex-direction: column;
    justify-self: center;
    flex-grow: 1;
   
    

    border-color: green;
    border-style: solid;
    
    min-width: 1000px;
    min-height: 1000px;

    max-width: 100%;
    max-height: 100%;
    


   
}

.row{
    display: flex;
    min-width: 0;
    min-height: 0;
    flex-grow: 1;


   
    flex-shrink: 1;
    

  

    
    
    
    
}
.sketch{
    display: flex;
    justify-items: center;
    
    flex-basis: auto;

    /* Align text*/
    align-items: center;
    padding: 0;

    color: #DE802B;
    min-width: 1px;
    min-height: 1px;
    flex-grow: 1;

    

}

